<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petagram.Catsocial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.petagram.Catsocial.CambiarCuenta"
            android:parentActivityName="com.petagram.Catsocial.pojo.MainActivity"
            ></activity>
        <activity
            android:name="com.petagram.Catsocial.About"
            android:parentActivityName="com.petagram.Catsocial.pojo.MainActivity" />
        <activity
            android:name="com.petagram.Catsocial.Contact"
            android:parentActivityName="com.petagram.Catsocial.pojo.MainActivity" />
        <activity
            android:name="com.petagram.Catsocial.pojo.MascotasFav"
            android:parentActivityName="com.petagram.Catsocial.pojo.MainActivity" />
        <activity android:name="com.petagram.Catsocial.pojo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>